:root {
    --design: #ff7a00;
    --sales: #fc71ff;
    --backoffice: #1FD7C1;
    --marketing: #0038ff;
    --media: #ffc702;
}

.popUp-content_add_task {
    background: white;
    border-radius: 30px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 50px;
    gap: 25px;
}

.close-header-popup {
    height: 25px;
    cursor: pointer;
    padding: 10px;
}

.close-header-popup:hover {
    background-color: #94d5f0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: all 225ms ease-in-out;
}

h1 {
    width: 315px;
    font-weight: 700;
    font-size: 61px;
    margin-top: 0px;
}

button {
    cursor: pointer;
}

.d-none {
    display: none !important;
}

.content-container {
    display: flex;
    gap: 50px;
}

label {
    font-weight: 400;
    font-size: 21px;
}

.left-container {
    display: flex;
    flex-direction: column;
    width: 452px;
    height: 506px;
    gap: 10px;
}

.selection-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
select,
.select-wrapper {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 400;
    padding: 13px 21px;
    background-color: white;
    outline: none;
}

.sector_top {
    display: flex;
    justify-content: space-between;
    line-height: 0;
    align-items: center;
    font-size: 18px;
    padding: 5px 20px;
}

.sector_top img {
    height: 8px;
}

.select-wrapper {
    position: relative;
    height: 50px; 
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 0;
}

.category-choices {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    width: 452px;
    top: 50px;
    left: 0;
    z-index: 11;
    border-radius: 10px;
    max-height: 230px;
    overflow-y: auto;
    margin-left: -1px;
}

.assigned-to-choices {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    width: 452px;
    top: 50px;
    left: 0;
    z-index: 11;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: auto;
    margin-left: -1px;
}

select {
    appearance: none;
    background: url(/assets/img/arrow.png) 96% / 3% no-repeat white;
    cursor: pointer;
}

textarea {
    min-height: 119px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 18px 21px;
    outline: none;
    resize: vertical;
    font-size: 21px;
    font-weight: 400;
}

select::-ms-expand {
    display: none;
    /* Standardpfeil im IE 10 und 11 entfernen */
}

.middle-gap {
    border-left: 1px solid #D1D1D1;
    height: 506px;
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 452px;
    height: 506px;
    gap: 10px;
    position: relative;
}

.features-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px
}

.date {
    cursor: pointer;
}

.prio-btn-container {
    display: flex;
    width: 100%;
    gap: 10px;
}

.prio-btn {
    cursor: pointer;
}

.prio-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    gap: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: relative;
    transition: all 100ms ease-in-out;
}

.prio-btn:hover {
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
    width: 110%;
}

.prio-btn-red,
.prio-btn-orange,
.prio-btn-green {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 400;
    background-color: rgb(255, 61, 0);
    color: white;
    width: 100%;
    height: 51px;
    gap: 10px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.prio-btn-orange {
    background-color: rgb(255, 168, 0);
}

.prio-btn-green {
    background-color: #7AE229;
}

.subtask-container {
    width: 100%;
    background-color: white;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    isolation: isolate;
}

.subtask-input {
    border: 0px !important;
    width: 80%;
    outline: none;
    cursor: pointer;
}

.plus-icon {
    cursor: pointer;
}

.subtask-img-container {
    display: flex;
    gap: 9px;
    padding-right: 15px;
}

.subtask-icons {
    cursor: pointer;
}

.gap-img-subtask {
    width: 1px;
    background-color: #D1D1D1;
}

.submit-and-clear {
    display: flex;
    position: absolute;
    bottom: 35px;
    right: 0;
}

.submit-and-clear button {
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 18px 10px;
    margin-left: 25px;
    transition: background 255ms ease-in-out;
}

.btn-createTask {
    background: #2A3647;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    transition: all 100ms ease-in-out;
}

.btn-createTask:hover {
    background-color: #29ABE2;
    border: 2px solid #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-clear {
    border: solid 1px #2A3647;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 18px 10px;
    margin-left: 25px;
    transition: background 255ms ease-in-out;
    color: #2A3647;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    gap: 10px;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.btn-clear:hover {
    color: #29ABE2;
    border: 2px solid #29ABE2;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-clear:hover .clear-img {
    content: url('../assets/img/iconoir_cancel_hover.svg');
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.checkbox_urgen,
.checkbox_medium,
.checkbox_low {
    display: none;
}

.checkbox_urgen[type="radio"]:checked+label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 400;
    background-color: rgb(255, 61, 0);
    color: white;
    width: 100%;
    gap: 10px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.checkbox_medium[type="radio"]:checked+label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 400;
    background-color: rgb(255, 168, 0);
    color: white;
    width: 100%;
    gap: 10px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.checkbox_low[type="radio"]:checked+label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 400;
    background-color: #7AE229;
    color: white;
    width: 100%;
    gap: 10px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.circle {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    margin-left: 15px;
    border: white;
}

.category {
    display: flex;
    align-items: center;
    padding: 7px 20px;
}

.new-cat {
    display: flex;
    align-items: center;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 7px 20px;
}

.input-new-cat input {
    width: 100%;
    border: none;
    padding: 10px 0;
}

.new-category-icons {
    display: flex;
    align-items: center;
}

.new-category-icons img {
    height: 30px;
    margin-left: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.assigned-to {
    display: flex;
    align-items: center;
    padding: 7px 20px;
}

.category:hover {
    background-color: lightgray;
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.assigned-to-line {
    display: flex;
    justify-content: space-between;
    padding: 7px 20px;
}

.assigned-to-wrapper {
    margin-bottom: 30px;
}

.new-category-img {
    height: 20px;
    padding-left: 15px;
}

#category-color {
    padding: 5;
    border-radius: 999px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 4px;
}

.popup-task-added {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    color: white;
    background-color: #2A3647;
    border: none;
    border-radius: 10px;
}

.category-added-cont {
    text-align: center;
    width: 250px;
    z-index: 21;
    font-size: 16px;
    background-color: #2a3647;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

@media(max-width:1400px) {
    .main-container {
        margin-right: 10px;
    }
}

@media(max-width:1200px) {
    .btn-clear {
        margin-left: unset;
    }

    .submit-and-clear button {
        white-space: nowrap;
    }

    .left-container {
        height: unset;
    }

    .title-container {
        width: 450px;
        display: flex;
        justify-content: flex-start;
    }
    .main-container {
        margin-left: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .middle-gap {
        display: none;
    }
    .content-container {
        flex-direction: column;
        gap: 0;
    }
    .right-container {
        align-items: center;
        height: unset;
        margin-bottom: 30px;
    }
    .submit-and-clear {
        position: unset;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    label,
    input,
    textarea,
    p,
    .prio-btn,
    .submit-and-clear {
        font-size: 16px;
    }
}

@media(max-width: 1000px) {
    .add-task-mobile {
        z-index: 11;
        display: block !important;
        position: fixed;
        top: 18px;
        right: 27px;
        cursor: pointer;
    }

    h1 {
        margin-top: 25px;
    }

    .title-container {
        flex-direction: column;
    }

    .main-container {
        margin-top: 130px;
        margin-left: 0;
    }
    .headline-mobile {
        display: block !important;
        font-size: 16px;
    }

    h1 {
        font-size: 47px;
    }

    label {
        font-size: 16px;
    }

    input {
        font-size: 16px;
    }

     ::placeholder {
        font-size: 16px;
    }

    textarea {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }

    .prio-btn {
        font-size: 16px;
    }

    .left-container {
        height: auto;
    }
}

@media(max-width: 500px) {
    .main-container {
        margin-right: 0;
    }

    .title-container {
        width: unset;
    }

    .left-container {
        width: unset;
    }

    .right-container {
        width: unset;
    }
    
    .popUp-content_add_task {
        padding-top: 100px;
    }

    .category-choices  {
        width: 373px;
    }

    .assigned-to-choices {
        width: 373px;
    }
}

@media(max-width: 400px) {
    .popUp-content_add_task {
        padding-top: 252px;
        width: 350px;
    }

    .assigned-to-choices {
        width: 350px;
    }

    .submit-and-clear button{
        margin-left: 10px;
    }

    .category-choices  {
        width: 350px;
    }
}