body {
    background-color: #f5f5f5;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

:root {
    --design: #ff7a00;
    --sales: #fc71ff;
    --backoffice: #1FD7C1;
    --marketing: #0038ff;
    --media: #ffc702;
    --SM: #0290e0;
    --MV: #ee00d6;
    --EF: #1ecf2f;
    --PD: rgb(0, 0, 255);
    --LG: rgb(13, 110, 13);
}

a {
    text-decoration: none;
}

.board-section {
    margin-left: 232px;
    margin-top: 90px;
}

.board-header {
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 82px;
}

.board-header h2 {
    font-size: 4rem;
    margin-top: 0;
}

.board-header input {
    height: 31px;
    font-size: 1rem;
    padding-left: 21px;
    border: none;
    background: transparent;
}

.dividing-line {
    border-left: 1px solid #D1D1D1;
    height: 30px;
}

.board-header div {
    display: flex;
}

.search-container {
    padding-bottom: 50px;
}

.search-box {
    border: solid 0.2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: white;
    height: 51px;
    display: flex;
    align-items: center;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.board-header button {
    background: #2A3647;
    color: white;
    font-size: 1.5rem;
    border-radius: 10px;
    margin-left: 25px;
    border: none;
    transition: background 255ms ease-in-out;
}

.board-header button:hover {
    background: #0D99FF;
    transition: background 255ms ease-in-out;
}

.board {
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
}

.splits-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    width: 250px;
}

.splits {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
}

.add_plus {
    border: solid 2px black;
    border-radius: 10px;
    font-size: 2rem;
    line-height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 255ms ease-in-out;
}

.add_plus:hover {
    color: #0D99FF;
    border: solid 2px #0D99FF;
    transition: all 255ms ease-in-out;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content {
    background-color: white;
    border-radius: 20px;
    padding: 18px 19px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    margin: 25px 0;
    width: 90%;
    cursor: pointer;
}

.trash-icon {
    cursor: pointer;
    padding: 10px;
}

.trash-icon:hover {
    background-color: #94d5f0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: all 255ms ease-in-out;
}

.changeIcon {
    cursor: pointer;
    margin-left: -4px;
}

.changeIcon:hover {
    height: 45px;
}

.card-head {
    width: fit-content;
    padding: 5px 30px;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
}

.card-body {
    font-size: 1rem;
    padding-top: 15px;
}

.card-body p {
    color: gray;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-body h4 {
    line-height: 1rem;
    margin: 0;
}

.users {
    display: flex;
}

.makeColumn {
    display: flex;
    flex-direction: column;
}

.users .circle {
    display: flex;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.8rem;
    margin: 0;
    margin-left: -5px;
}

.progress_bar {
    display: flex;
    flex-direction: row;
    font-size: 0.7rem;
    justify-content: space-between;
    margin: 15px 0px;
}

.priotity_users {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.dropArea {
    width: 250px;
    height: 200px;
    border-radius: 25px;
}

.borders {
    border: dotted 6px rgba(0, 0, 0, 0.5);
}

.d-none {
    opacity: 0;
}

.headerPopUp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerPopUp img {
    height: 25px;
    cursor: pointer;
    padding: 10px;
}

.headerPopUp img:hover {
    background-color: #94d5f0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: all 225ms ease-in-out;
}

.popUp-background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.087);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    overflow-y: scroll;
}

.popUp-content {
    width: 423px;
    background: white;
    border-radius: 30px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    padding: 50px;
}

.makeRow {
    display: flex;
    align-items: center;
}

.margin10 {
    margin-right: 10px;
}

.prio-low-popUp {
    background-color: #7AE229;
    width: 131px;
    height: 33px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 18px;
    gap: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: white;
}

.prio-medium-popUp {
    background-color: rgb(255, 168, 0);
    width: 131px;
    height: 33px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 18px;
    gap: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: white;
}

.prio-urgent-popUp {
    background-color: #FF3D00;
    width: 131px;
    height: 33px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 18px;
    gap: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: white;
}

.popUp-close {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.popup-img {
    height: 25px;
    cursor: pointer;
    padding: 10px;
}

.popup-img:hover {
    background-color: #94d5f0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: all 225ms ease-in-out;
}

.subtaskSection {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: dotted 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.subtaskSection label {
    padding: 5px 0;
}

.put_it_right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.hide-content {
    display: none;
}

.position-fixed {
    position: fixed;
}

.popUpWish {
    position: relative;
    left: -50px;
    width: 230px;
    top: 0;
    background: white;
    border-radius: 20px;
    border: solid 1px black;
    padding: 10px;
    font-size: 1rem;
}

.headContextMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -10px;
}

.headContextMenu img {
    height: 25px;
    padding: 5px;
}

.space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#board-container {
    width: 100vw;
    height: 100vh;
}

@media(max-width: 1500px) {
    .board {
        flex-wrap: wrap;
    }
}

@media(max-width: 1200px) {
    .popUp-content {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

@media(max-width: 1000px) {
    .popUp-background {
        overflow-x: hidden;
    }
    .headline-mobile {
        display: block !important;
        font-size: 16px;
        line-height: 120%;
    }
    .board-add-task h2 {
        font-size: 47px !important;
        line-height: 120%;
        margin: 0;
    }
    .board-section {
        margin-top: 100px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .board-header {
        flex-direction: column;
        align-items: unset;
        margin: 0;
        padding-top: 35px;
    }
    .search-container {
        padding: unset;
    }
    .splits {
        width: 360px;
    }
    .splits-head {
        width: 100%;
    }
    .add-task {
        display: none;
    }
    .add-task-btn-mobile {
        display: block !important;
        cursor: pointer;
        height: 40px;
    }
    .board-add-task {
        align-items: center;
        width: 360px;
        justify-content: space-between;
        margin: 25px 0;
    }
    .board {
        width: 360px;
        margin: 0;
    }
    .board-bottom {
        margin-top: 120px;
    }
    .dropArea {
        width: unset;
        height: 50px;
    }
    .card {
        margin-right: 0 !important;
    }
    .drop-ground {
        width: 360px;
    }
}