body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
    color: #000000;
    margin-left: var(--nav-width);
    margin-top: var(--header-height);
    padding-left: calc(355px - var(--nav-width));
    padding-top: calc(171px - var(--header-height));
}

a {
    text-decoration: none;
}

.arrow-left {
    cursor: pointer;
    position: absolute;
    right: 200px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    height: 411px;
    margin-top: -35px;
    padding-right: 200px;
}

.main-content h1 {
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
}

.main-content h2 {
    font-weight: 700;
    font-size: 27px;
    line-height: 32.4px;
}

.second-headline {
    margin: -30px 0;
}

.third-headline {
    margin: 0;
}

span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}

.explain-container {
    display: flex;
    align-items: center;
    gap: 35px;
}

.number {
    font-weight: 700;
    font-size: 27px;
    line-height: 32.4px;
}

@media(max-width: 1200px) {
    .main-content {
        padding-left: 280px;
        padding-right: 40px;
        margin-top: 0;
    }

    .arrow-left {
        right: 50px;
    }
}

@media(max-width: 1000px) {
    .arrow-left {
        display: none;
    }

    .arrow-left-mob {
        display: block !important;
        cursor: pointer;
        position: absolute;
        top: 132px;
        right: 30px;
    }

    .arrow-left-mob img {
        height: 25px;
    }

    .headline-mobile {
        text-align: center;
        display: block !important;
        margin-top: 136px;
        font-size: 16px;
        line-height: 120%;
    }

    h1 {
        margin-top: -15px;
        margin-bottom: 35px;
        font-size: 47px !important;
        line-height: 120% !important;
    }

    .main-content {
        padding-left: 25px;
        padding-right: 25px;
    }

    .third-headline {
        display: none;
    }
}