body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
    color: #000000;
    margin-left: var(--nav-width);
    margin-top: var(--header-height);
    padding-left: calc(355px - var(--nav-width));
    padding-top: calc(171px - var(--header-height));
}

a {
    text-decoration: none;
}

.arrow-left {
    cursor: pointer;
    position: absolute;
    right: 200px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    /* width: 976px; */
    height: 411px;
    margin-top: -35px;
    padding-right: 200px;
}

h1 {
    margin: 40px 0;
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
}

h2 {
    margin: 0;
    font-weight: 700;
    font-size: 27px;
    line-height: 32.4px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}

@media(max-width: 1200px) {
    .contacts-main-container {
        padding-left: 275px;
    }
}

@media(max-width: 1000px) {
    .headline-mobile {
        display: flex !important;
        flex-direction: column;
        font-size: 16px;
    }

    .contacts-main-container {
        margin: 125px 20px 0 20px;
        padding: 0;
    }

    h1 {
        margin-top: 50px;
        margin-bottom: 0;
        font-size: 47px;
    }

    h2 {
        font-size: 22px;
    }

    .main-content {
        padding: 0;
        margin-bottom: 120px;
        height: unset;
    }

    li {
        font-size: 18px;
    }

    .arrow-left-legal-notice {
        display: none;
    }

    .arrow-left-mobile {
        display: block !important;
        position: absolute;
        right: 30px;
    }

    .arrow-left-mobile img {
        height: 25px;
    }
}

@media(max-width:600px) {
    .text-container {
        width: 320px;
    }

    /* .link a {
        display: block;
        width: 360px;
    } */
}