<form onsubmit="addTask();return false">
    <div class="content-container">
        <div class="left-container">
            <div class="selection-container">
                <label>Title</label>
                <input placeholder="Enter a title" id="title_textfield" required>
            </div>
            <div class="selection-container">
                <label>Description</label>
                <textarea placeholder="Enter a description" id="description_textfield" required></textarea>
            </div>
            <div class="selection-container prevent-select">
                <label>Category</label>
                <div id="new-category" class="new-cat input-new-cat d-none">
                    <div class="select-color d-none" id="selected-color"></div>
                    <input id="new-category-input" type="name" placeholder="Category Name ...">
                    <div id="category-added-cont" class="category-added-cont d-none" >New Category added!</div>
                    <div id="category-required" class="category-added-cont d-none">Please enter a category!</div>
                    <div class="new-category-icons">
                        <input id="category-color" type="color" value="#2a3647">
                        <img src="./assets/img/checkmark.png" alt="#" onclick="addColorCategory()">
                        <img src="./assets/img/cancel.png" alt="#" onclick="closeNewCategory()">
                    </div>
                </div>
                <div class="select-wrapper" onclick="openDropdown('category-choices')">
                    <div class="sector_top">
                        <p id="category-header">Select your Category</p><img src="./assets/img/arrow_down.png">
                    </div>
                    <div class="category-choices d-none" id="category-choices">
                        <div class="category" onclick="openAddNewCategory('category-choices')">New Category<img class="new-category-img" src="assets/img/add_task_mob.svg"></div>
                        <div class="category" onclick="changeCategoryHeader('Marketing')">
                            <div id="marketing">Marketing </div>
                            <div class="circle" style="background: #0038ff;"></div>
                        </div>
                        <div class="category" onclick="changeCategoryHeader('Media')">
                            <div>Media </div>
                            <div class="circle" style="background: #ffc702;"></div>
                        </div>
                        <div class="category" onclick="changeCategoryHeader('Backoffice')">
                            <div>Backoffice </div>
                            <div class="circle" style="background: #1FD7C1;"></div>
                        </div>
                        <div class="category" onclick="changeCategoryHeader('Design')">
                            <div>Design </div>
                            <div class="circle" style="background:  #ff7a00;"></div>
                        </div>
                        <div class="category" onclick="changeCategoryHeader('Sales')">
                            <div>Sales </div>
                            <div class="circle" style="background: #fc71ff;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="selection-container prevent-select">
                <label>Assigned To</label>
                <div class="select-wrapper assigned-to-wrapper">
                    <div class="sector_top" onclick="openDropdown('assigned-to-choices')">
                        <p id="assigned-to-header">Select your Members</p><img
                            src="./assets/img/arrow_down.png">
                    </div>
                    <div class="assigned-to-choices d-none" id="assigned-to-choices">
                        <div class="assigned-to" onclick="changeCategoryHeader('Marketing')">
                            <div id="marketing">Marketing </div>
                            <div class="circle" style="background: #0038ff;"></div>
                        </div>
                        <div class="assigned-to" onclick="changeCategoryHeader('Media')">
                            <div>Media </div>
                            <div class="circle" style="background: #ffc702;"></div>
                        </div>
                        <div class="assigned-to" onclick="changeCategoryHeader('Backoffice')">
                            <div>Backoffice </div>
                            <div class="circle" style="background: #1FD7C1;"></div>
                        </div>
                        <div class="assigned-to" onclick="changeCategoryHeader('Design')">
                            <div>Design </div>
                            <div class="circle" style="background:  #ff7a00;"></div>
                        </div>
                        <div class="assigned-to" onclick="changeCategoryHeader('Sales')">
                            <div>Sales </div>
                            <div class="circle" style="background: #fc71ff;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="middle-gap"></div>
        <div class="right-container">
            <div class="features-container">
                <label for="date">Due Date</label>
                <input class="date" type="date" id="date" name="date" required>
            </div>
            <div class="features-container">
                <label>Prio</label>
                <div onchange="changeColor(); return false" class="prio-btn-container">

                    <input type="radio" class="checkbox_urgen" id="urgentBtn" name="radio">
                    <label for="urgentBtn" class="prio-btn prio-urgent urgentSection" for="checkbox_urgen"
                        id="urgentSection">
                        Urgent<img id="prioUrgentWhite" src="assets/img/Prio-urgent.png">
                    </label>
                    <input type="radio" class="checkbox_medium" id="mediumBtn" name="radio">
                    <label for="mediumBtn" class="prio-btn prio-urgent mediumSection" for="checkbox_urgen"
                        id="mediumSection">
                        Medium<img id="prioUrgentWhite" src="assets/img/Prio-medium.png">
                    </label>
                    <input type="radio" class="checkbox_low" id="lowBtn" name="radio" checked>
                    <label for="lowBtn" class="prio-btn prio-urgent lowSection" for="checkbox_urgen"
                        id="lowSection">
                        Low<img id="prioUrgentWhite" src="assets/img/prio-low-white.png">
                    </label>
                </div>



                <div class="features-container">
                    <label>Subtasks</label>
                    <div class="subtask-container">
                        <input class="subtask-input" onclick="inputChangeSubIcons()"placeholder="Add new subtask" id="subtask">
                        <img id="plusSubtaskImg" class="plus-icon" src="assets/img/plus-icon.png" onclick="changeSubIcon()">
                        <div class="subtask-img-container">
                        <img id="clearSubtaskImg" src="assets/img/icon_cancel_subtask.svg" onclick="clearSubtask()" class="subtask-icons d-none">
                        <div class="gap-img-subtask"></div>
                        <img id="addSubtaskImg" src="assets/img/icon_check_subtask.svg" onclick="addSubtask()" class="subtask-icons d-none">
                        </div>
                    </div>
                    <div>
                        <ul id="subtask-list">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="submit-and-clear">
                <div><Button class="btn-clear">Clear<img class="clear-img" src ="assets/img/iconoir_cancel.svg"></Button>
                </div>
                <div><Button class="btn-createTask">Create Task<img src ="assets/img/akar-icons_check.svg"></Button></div>
            </div>
        </div>
    </div>
</form>