<nav>
    <a class="summary-logo" href="summary.html"><img src="assets/img/Logo-Join.png"></a>

    <div class="nav-bar">
        <a class="nav-main" href="summary.html">
            <div class="nav-content">
                <div class="nav-icon-container"><img src="assets/img/Summary-Icon.png"></div>
                <div>Summary</div>
            </div>
        </a>
        <a class="nav-main" href="board.html">
            <div class="nav-content">
                <div class="nav-icon-container"><img src="assets/img/Board-Icon.png"></div>
                <div>Board</div>
            </div>
        </a>
        <a class="nav-main" href="add_task.html">
            <div class="nav-content">
                <div class="nav-icon-container"><img src="assets/img/Add-Task-Icon.png"></div>
                <div>Add Task</div>
            </div>
        </a>
        <a class="nav-main" href="contact.html">
            <div class="nav-content">
                <div class="nav-icon-container"><img src="assets/img/Contacts-Icon.png"></div>
                <div>Contacts</div>
            </div>
        </a>
    </div>

    <a class="legal-notice" href="legal_notice.html">
        <div class="nav-content">
            <div class="nav-icon-container"><img src="assets/img/Impressum-Icon.png"></div>
            <div>Legal notice</div>
        </div>
    </a>

</nav>