<nav>
    <a class="summary-logo" href="summary.html"><img src="assets/img/logo-join.png"></a>
    <div class="nav-bar">
        <a class="nav-main" href="summary.html">
            <div class="nav-content">
                <div class="nav-icon-container"><img src="assets/img/summary-icon.png"></div>
                <div>Summary</div>
            </div>
        </a>
        <a class="nav-main" href="board.html">
            <div class="nav-content">
                <div class="nav-icon-container"><img src="assets/img/board-icon.png"></div>
                <div>Board</div>
            </div>
        </a>
        <a class="nav-main active" href="add_task.html">
            <div class="nav-content">
                <div class="nav-icon-container"><img src="assets/img/add-task-icon.png"></div>
                <div>Add Task</div>
            </div>
        </a>
        <a class="nav-main" href="contact.html">
            <div class="nav-content">
                <div class="nav-icon-container"><img src="assets/img/contacts-icon.png"></div>
                <div>Contacts</div>
            </div>
        </a>
    </div>
    <a class="legal-notice" href="legal_notice.html">
        <div class="nav-content">
            <div class="nav-icon-container"><img src="assets/img/impressum-icon.png"></div>
            <div>Legal notice</div>
        </div>
    </a>
</nav>